@media only screen and (max-width : 991px) {
	h2.section-heading {
		font-size: 40px;
	}


	.main-navbar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		padding: 50px;
		background-color: #000;
		transform: translateX(-100%);
		transition: all 0.3s linear;
		z-index: 100;
		color: #fff;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
	}

	.menuToggle .main-navbar {
		transform: translateX(0);
		justify-content: flex-start;
	}

	.main-navbar ul {
		flex-direction: column;

	}

	.main-navbar ul li a {
		font-size: 15px;
	}

	.menu-icon {
		display: block;
	}

	.close-icon {
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		color: #fff;
		text-align: end;
		z-index: 55;
	}

	.banner-content h1 {
		font-size: 45px;
		margin-bottom: 20px;
		max-width: 400px;
	}

	.banner-content h3 {
		margin-bottom: 20px;
		font-size: 25px;
		max-width: 370px;
	}

	.butn {
		padding: 8px 20px;
		font-size: 15px;
	}
	.home-contact-form-section {
		margin-right: 0px;
	  }
	#contact h3 {
		font-size: 35px;
		margin-bottom: 25px;
	}

	#contact input[type="text"],
	#contact input[type="email"],
	#contact input[type="tel"],
	#contact input[type="url"],
	#contact textarea {
		width: 100%;
		padding: 6px;
		font-size: 14px;
	}

	#contact button[type="submit"] {
		padding: 8px 20px;
		font-size: 14px;
		width: 45%;
	}

	.home-page-section1-wrapper p {
		font-size: 15px;
	}

	.home-page-section2-wrapper p {
		font-size: 15px;
	}

	.home-page-section2-cards-content p {
		max-width: 250px;
		margin: 10px auto;
		font-size: 14px;
	}

	.home-page-section2-cards-content h3 {
		font-size: 29px;
		max-width: 300px;
		margin: 0 auto;
	}

	.home-page-section3-wrapper p {
		font-size: 15px;
	}

	.copyright p {
		font-size: 15px;
	}

	.footer .footer-items ul li a {
		font-size: 16px;
	}

	.footer-items h3 {
		font-size: 30px;
	}

	/* Other Pages CSS Start */
	.pages-banner-image {
		height: 450px;
	}

	.pages-banner-text h1 {
		font-size: 50px;
	}

	.terms-conditions-group p,
	.privacy-policy-group p {
		font-size: 15px;
	}

	.terms-conditions-group ul li,
	.privacy-policy-group ul li {
		font-size: 15px;
	}

	.terms-conditions-group h4,
	.privacy-policy-group h4 {
		font-size: 22px;
	}

	.terms-conditions-group h3,
	.privacy-policy-group h3 {
		font-size: 31px;
	}

	.terms-conditions-group p a,
	.privacy-policy-group p a {
		font-size: 16px;
	}

	/* Other Pages CSS End */

	/* Cookies CSS Start */
	.info p {
		font-size: 14px;
	}

	.button {
		width: calc(55% / 2 - 10px);
		font-size: 14px;
	}

	/* Cookies CSS End */
}



@media only screen and (max-width : 767px) {
	.logo img {
		max-width: 240px;
	}

		.main-navbar ul li a {
		font-size: 15px;
	}
	.banner #contact {
		background-color: #ffeff5;
		padding: 10px;
	}

	.banner {
		padding: 100px 0px 75px 0;
	}


	.banner-content h1 {
		font-size: 33px;
		margin-bottom: 20px;
		max-width: 350px;
	}

	.banner-content h3 {
		margin-bottom: 20px;
		font-size: 18px;
		max-width: 279px;
	}

	.banner .butn {
		padding: 7px 20px;
		font-size: 14px;
	}
	

	#contact h3 {
		font-size: 25px;
		margin-bottom: 20px;
	}
	.home-contact-form-section #contact button[type="submit"] {
		padding: 7px 20px;
	}

	#contact input[type="text"],
	#contact input[type="email"],
	#contact input[type="tel"],
	#contact input[type="url"],
	#contact textarea {
		padding: 6px;
		font-size: 13px;
	}

	#contact button[type="submit"] {
		padding: 8px 20px;
		font-size: 13px;
		width: 30%;
	}

	.home-page-section1-wrapper p {
		font-size: 14px;
	}

	.home-page-s1-cards-image {
		height: 100%;
	}

	.home-page-s1-cards-text {
		margin-top: 20px;
	}

	.home-page-section2-wrapper p {
		font-size: 14px;
		max-width: 450px;
		margin: 0 auto;
	}

	.home-page-section2-cards-image {
		height: 290px;
	}

	.home-page-section2-cards-content p {
		max-width: 250px;
		margin: 10px auto;
		font-size: 14px;
	}

	.home-page-section2-cards-content h3 {
		font-size: 26px;
		max-width: 270px;
		margin: 0 auto;
	}

	.home-page-section3-wrapper #contact {
		margin-top: 40px;
		max-width: 500px;
	}

	.home-page-section3-wrapper p {
		font-size: 14px;
	}

	.home-page-section3-wrapper #contact button[type="submit"] {
		width: 30%;
	}

	.copyright p {
		font-size: 14px;
	}

	.footer .footer-items ul li a {
		font-size: 15px;
	}

	.footer-items h3 {
		font-size: 28px;
	}

	/* Other Pages CSS Start */
	.pages-banner-image {
		height: 350px;
	}

	.pages-banner-text h1 {
		font-size: 45px;
	}

	.terms-conditions-group p,
	.privacy-policy-group p {
		font-size: 14px;
	}

	.terms-conditions-group ul li,
	.privacy-policy-group ul li {
		font-size: 14px;
	}

	.terms-conditions-group h4,
	.privacy-policy-group h4 {
		font-size: 20px;
	}

	.terms-conditions-group h3,
	.privacy-policy-group h3 {
		font-size: 29px;
	}

	.terms-conditions-group p a,
	.privacy-policy-group p a {
		font-size: 15px;
	}

	/* Other Pages CSS End */

	/* Cookies CSS Start */
	.wrapper {
		padding: 20px 10px;
	}

	.info p {
		font-size: 13px;
	}

	.button {
		font-size: 13px;
		padding: 6px;
	}

	/* Cookies CSS End */
}

@media only screen and (max-width : 575px) {
	h2.section-heading {
		font-size: 35px;
	}

	.logo img {
		max-width: 220px;
	}


	.menu-icon {
		font-size: 22px;
	}

	.banner-content h1 {
		font-size: 50px;
		max-width: 410px;
	}
	.banner-content h3 {
		font-size: 21px;
		max-width: 300px;
	}

	.butn {
		padding: 8px 20px;
		font-size: 13px;
	}
	.home-contact-form-section {
		max-width: 400px;
		margin-left: 0;
	}
	.home-contact-form-section #contact {
	margin-top: 40px;
		padding: 15px;
	}
	.banner .butn {
		padding: 8px 20px;
		font-size: 14px;
	}

	.home-contact-form-section #contact button[type="submit"] {
		padding: 8px 20px;
		width: 40%;
	}

	#contact h3 {
		font-size: 35px;
	}

	#contact input[type="text"],
	#contact input[type="email"],
	#contact input[type="tel"],
	#contact input[type="url"],
	#contact textarea {
		padding: 7px;
		font-size: 13px;
	}

		.home-page-section3-wrapper #contact button[type="submit"] {
		width: 33%;
		padding: 8px 20px;
		font-size: 13px;
	}

	.home-page-section1-wrapper p {
		font-size: 13px;
	}

	.home-page-s1-cards {
		padding: 15px;
	}

	.home-page-s1-cards-image {
		height: 220px;
	}

	.home-page-section2-wrapper p {
		font-size: 13px;
		max-width: 400px;
		margin: 0 auto;
	}

	.home-page-section2-cards-image {
		height: 250px;
	}

	.home-page-section2-cards-content h3 {
		font-size: 25px;
	}

	.s1-card-icons {
		font-size: 25px;
	}

	.home-page-section2-cards-content p {
		max-width: 300px;
		margin: 10px auto;
	}

	.home-page-section3-wrapper p {
		font-size: 13px;
	}

	.copyright p {
		font-size: 13px;
	}

	.footer .footer-items ul li a {
		font-size: 14px;
	}

	.footer-items h3 {
		font-size: 26px;
	}

	.social-icons i {
		width: 30px;
		height: 30px;
	}

	/* Other Pages CSS Start */
	.pages-banner-image {
		height: 300px;
	}

	.pages-banner-text h1 {
		font-size: 40px;
	}

	.terms-conditions-group p,
	.privacy-policy-group p {
		font-size: 13px;
	}

	.terms-conditions-group ul li,
	.privacy-policy-group ul li {
		font-size: 13px;
	}

	.terms-conditions-group h4,
	.privacy-policy-group h4 {
		font-size: 18px;
	}

	.terms-conditions-group h3,
	.privacy-policy-group h3 {
		font-size: 27px;
	}

	.terms-conditions-group p a,
	.privacy-policy-group p a {
		font-size: 14px;
	}

	/* Other Pages CSS End */

	/* Cookies CSS Start */
	.info p {
		font-size: 13px;
	}

	.button {
		width: calc(50% / 2 - 10px);
		font-size: 13px;
	}

	/* Cookies CSS End */

}

@media only screen and (max-width : 480px) {
	h2.section-heading {
		font-size: 30px;
	}

	.site-header {
		padding: 5px 0;
	}

	.logo img {
		max-width: 180px;
	}

	.banner-content h1 {
		font-size: 30px;
		max-width: 250px;
	}

	.banner-content h3 {
		font-size: 18px;
		max-width: 270px;
	}

	.banner .butn {
		padding: 7px 20px;
		font-size: 12px;
	}
	
	.home-contact-form-section #contact button[type="submit"] {
		padding: 7px 20px;
		width: 40%;
	}
	

	#contact {
		padding: 20px;
	}

	#contact h3 {
		font-size: 30px;
	}

	#contact input[type="text"],
	#contact input[type="email"],
	#contact input[type="tel"],
	#contact input[type="url"],
	#contact textarea {
		padding: 6px;
		font-size: 12px;
	}

	#contact button[type="submit"] {
		padding: 8px 20px;
		font-size: 12px;
	}

	.home-page-section1-wrapper p {
		font-size: 12px;
	}
	

	.home-page-s1-cards-image {
		height: 170px;
	}

	.home-page-section2-wrapper p {
		font-size: 12px;
		max-width: 350px;
		margin: 0 auto;
	}

	.home-page-section2-cards-image {
		height: 250px;
	}
	.home-page-section2-cards-content .butn  {
		padding: 7px 20px;
		font-size: 12px;
	}
	

	.home-page-section2-cards-content h3 {
		font-size: 20px;
	}

	.home-page-section2-cards-content p {
		max-width: 280px;
		margin: 10px auto;
	}

	.home-page-section3-wrapper #contact button[type="submit"] {
		width: 140px;
		padding: 7px 20px;
	}

	.home-page-section3-wrapper p {
		font-size: 12px;
	}
	
	.footer-items {
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}

	.footer-items:last-child {
		margin-bottom: 0;
	}

	.social-icons {
		justify-content: center;
		padding-left: 0;
		margin: 10px auto;
	}

	.footer .footer-items ul li a {
		font-size: 13px;
	}

	.footer-items h3 {
		font-size: 24px;
	}

	.copyright p {
		font-size: 12px;
	}

	/* Other Pages CSS Start */
	.pages-banner-image {
		height: 250px;
	}

	.pages-banner-text h1 {
		font-size: 35px;
	}

	.terms-conditions-group p,
	.privacy-policy-group p {
		font-size: 12px;
	}

	.terms-conditions-group ul li,
	.privacy-policy-group ul li {
		font-size: 12px;
	}

	.terms-conditions-group h4,
	.privacy-policy-group h4 {
		font-size: 16px;
	}

	.terms-conditions-group h3,
	.privacy-policy-group h3 {
		font-size: 23px;
	}

	.terms-conditions-group p a,
	.privacy-policy-group p a {
		font-size: 13px;
	}

	/* Other Pages CSS End */

	/* Cookies CSS Start */
	.info p {
		font-size: 12px;
	}

	.buttons {
		gap: 10px;
	}

	.button {
		width: calc(80% / 2 - 10px);
		font-size: 13px;
	}

	/* Cookies CSS End */
}